/* Палитра */
:root {
  --primary-text-color: #757575;
  --titles-text-color: #212121;
  --accent-text-color: #2196F3;
  --main-title-color: #FFFFFF;
  --logo-text-color: #000000;
  --header-background-color: #FFFFFF;
  --main-background-color: #ffffff;
  --team-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --footer-opaque-color: rgba(255, 255, 255, 0.6);
  --signature-text-color: rgba(255, 255, 255, 0.4);
  --icons-color: #AFB1B8;
  --icons-footer-background: rgba(255, 255, 255, 0.1);
}

/* Утилиты */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* хотя можно было просто к <ul> и <a> применить глобально */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ancor {
  text-decoration: none;
  cursor: pointer;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
}

h1, h2, h3 {
  margin-top: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
 
}



/* Header */

header {
  background-color: var(--header-background-color);
}

.logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  }

.logo .web {
  color: var(--accent-text-color);
}

/* Whole header */
.topline {
  display: flex;
  align-items: center;
}


/* Main nav  */
.main-nav {
  display: flex;
  
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titles-text-color);
  
}

.site-nav .link:hover,
.site-nav .link:focus { 
  color: var(--accent-text-color);
}

.site-nav .current {
  color: var(--accent-text-color);
}


.site-nav .current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
 
  background: var(--accent-text-color);
  border-radius: 2px;
}

/* Site auth */
.site-auth {
  display: flex;
  margin-left: auto;
}

.site-auth .item + .item {
  margin-left: 30px;
}

.site-auth-button {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px; 
  color: var(--primary-text-color);
}

.site-auth-button .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-text-color);
}

.site-auth-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
}

.site-auth-icon {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.site-auth-button:hover a, 
.site-auth-button:focus a {
  color: var(--accent-text-color);
}

.site-auth-button:hover svg, 
.site-auth-button:focus svg {
  --color4: var(--accent-text-color);
}


/* Hero */
.hero {
  text-align: center;
}

.hero .hero-title {
  margin-top: o;
  margin-bottom: 46px;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: relative;
  min-width: 1600px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
  
  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  ),
  url('../images/Header.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: black;
}

/* Buttons */
/* button for index.html */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* buttons for portfolio.html */
.button-primary {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);

}

.button-secondary {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
  background-color: var(--team-background-color);
}

/* Advantages */
.advantages {
  padding-top: 94px;
  
  background-color: var(--main-background-color);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;

  border-bottom: 1px solid #ECECEC;
}

.advantages .advantages-titles {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titles-text-color);
}

.advantages .advantages-text {
  margin-top: 0;
  margin-bottom: 0;

  letter-spacing: 0.03em;
}

.advantages-item {
  width: calc((100% - 90px) / 4);
}

.advantages-item + .advantages-item {
  margin-left: 30px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}
.advantages-icon-bcg {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--team-background-color);
  border-radius: 4px;
}

/* General for specialization, team and customers h2*/
.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
  
}

/* What we do */
.spec-list {
  display: flex;
  flex-wrap: wrap;
}

.spec-item {
  width: calc((100% - 60px) / 3);
}

.spec-item + .spec-item {
  margin-left: 30px;
}

.specialization {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-background-color);
}

.specialization .spec-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  background-color: var(--accent-text-color); /* временно */
}

/* Our team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--team-background-color);
}

.team-list {
  display: flex;
  flex-grow: wrap;
}

.team-item {
  width: calc((100% - 90px) / 4);
  text-align: center;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  /* border-radius: 4px;
  overflow: hidden; */
}

.team-item + .team-item {
  margin-left: 30px;
}

.team .team-names {
  padding-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--titles-text-color);
}

.team .team-jobs {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.icons-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.icons-list > li + li {
  margin-left: 10px;
}

.team-icon {
  width: 44px;
  height: 44px;
  fill: var(--icons-color);
  border-radius: 50%;
}

.team-icon:hover,
.team-icon:focus {
  fill: var(--main-title-color);
  background-color: var(--accent-text-color);
}

/* Regular customers */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--main-background-color);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-item + .customers-item {
  margin-left: 30px;
}

.customers-item {
  display: inline-flex;
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid var(--icons-color);
  border-radius: 4px;
  cursor: pointer;
}

.customers-icon {
  display: inline-flex; 
  fill: var(--icons-color);
}

.customers-link:hover .customers-icon {
  fill: var(--accent-text-color);   
}

.customers-link:hover {
  border-color: #2196F3;
}


/* Footer */
/* Adress  */
.footer {
  background-color: var(--footer-background-color);
}

.footer-flex {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container {
  display: block; 
}

.footer-logo {
  display: block;
  margin-top: 48px;
  margin-bottom: 10px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-logo .web{
  color: var(--accent-text-color);
}

.address {
  padding-bottom: 28px;
}

.address .exact-address {
  margin-top: 0;
  
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.address .footer-contact {
  display: block;
  margin-top: 9px;

  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--footer-opaque-color);
}

/* Connect social  */

.footer .connect {
  margin-top: 48px;
  margin-bottom: 21px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.footer-container .team-icon {
  width: 44px;
  height: 44px;
  fill: var(--main-title-color);
  border-radius: 50%;
  background-color: var(--icons-footer-background);
}

.team-icon:hover,
.team-icon:focus {
  fill: var(--main-title-color);
  background-color: var(--accent-text-color);
}

.connect .email {
  display: block;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--footer-opaque-color);
}

input::placeholder {
  width: 270px;
}

.btn-add {
  font-weight: 900;
  font-family: Roboto;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  margin-bottom: 0;
  margin-top: 0;

  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--signature-text-color);
}

/* Portfolio.css (exept buttons) */
/* Filters  */
.filters {
  padding-top: 93px;
  padding-bottom: 50px;
}

.filters-list {
  display: flex;
  justify-content: center;
}

.filters-list .item + .item {
  margin-left: 8px;
}

/* Examples  */
.rows {
  padding-bottom: 94px;
}
.flex-examples {
  display: flex;
  flex-wrap: wrap;
}

.flex-examples-elements {
  width: calc((100% - 60px) / 3);
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  overflow: hidden;
}

.flex-examples-elements:not(:nth-child(3n)) {
  margin-right: 30px;
}

.flex-examples-elements:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.flex-examples-elements:hover,
.flex-examples-elements:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  
}

.card-content {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden; */

}

.examples .examples-headings {
  padding-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-text-color);
}

.examples .examples-type {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.examples .examples-text {
  display: none;   /* временно */

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: var(--accent-text-color); /* temporary */
}

.main {
  background-color: var(--main-title-color);
}

